apiVersion: v1
kind: List
metadata:
  name: razeedash-api
  annotations:
    version: "{{TRAVIS_COMMIT}}"
type: array
items:
  - apiVersion: apps/v1
    kind: Deployment
    metadata:
      annotations:
        version: "{{TRAVIS_COMMIT}}"
        razee.io/git-repo: "{{{GIT_REMOTE}}}"
        razee.io/commit-sha: "{{TRAVIS_COMMIT}}"
      labels:
        razee/watch-resource: "lite"
      name: razeedash-api
    spec:
      replicas: 1
      revisionHistoryLimit: 0
      selector:
        matchLabels:
          app: razeedash-api
      strategy:
        type: RollingUpdate
      template:
        metadata:
          labels:
            app: razeedash-api
            razee/watch-resource: "lite"
          name: razeedash-api
        spec:
          securityContext:
            fsGroup: 999
            runAsUser: 999
          initContainers:
          - env:
            - name: MONGO_URL
              valueFrom:
                secretKeyRef:
                  name: razeedash-secret
                  key: mongo_url
            image: "quay.io/razee/razeedash-api:{{TRAVIS_TAG}}"
            command: ["npm", "run", "wait-mongo"]
            imagePullPolicy: Always
            name: razeedash-api-init
          containers:
          - env:
            - name: S3_ENDPOINT
              valueFrom:
                configMapKeyRef:
                  name: razeedash-config
                  key: s3_endpoint
                  optional: true
            - name: S3_LOCATION_CONSTRAINT
              valueFrom:
                configMapKeyRef:
                  name: razeedash-config
                  key: s3_location_constraint
                  optional: true
            - name: S3_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: razeedash-secret
                  key: s3_access_key_id
                  optional: true
            - name: S3_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: razeedash-secret
                  key: s3_secret_access_key
                  optional: true
            - name: MONGO_URL
              valueFrom:
                secretKeyRef:
                  name: razeedash-secret
                  key: mongo_url
            - name: MONGO_DB_NAME
              value: razeedash
            - name: ORG_ADMIN_KEY
              valueFrom:
                secretKeyRef:
                  name: razeedash-secret
                  key: org_admin_key
                  optional: true
            image: "quay.io/razee/razeedash-api:{{TRAVIS_TAG}}"
            imagePullPolicy: Always
            name: razeedash-api
            ports:
            - containerPort: 3333
              protocol: TCP
            livenessProbe:
              httpGet:
                path: /api/kube/liveness
                port: 3333
              initialDelaySeconds: 5
              periodSeconds: 10
              timeoutSeconds: 2
            resources:
              requests:
                cpu: 100m
                memory: 80Mi
              limits:
                cpu: 500m
                memory: 256Mi
